body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Nanum Gothic', sans-serif;
}

#content-container {
    display: flex;
    flex-direction: column;
    padding: 1em;
    
}
.section-underline {
    background-color: #717BD9;
    height: 2px;
}

#prj-section-title {
    text-align: center;
}

h2#project {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#p-div {
    width: 50%;
}

h2#contact {
    display: flex;
    align-items: flex-end;
}


#c-div {
    width: 50%;
}

form {
    display: block;
    background-color: #4A4848;
}