body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Nanum Gothic', sans-serif;
}

#content-container {
    display: flex;
    flex-direction: column;
    padding: 1em;
    
}

/*tablet responsive*/
@media only screen and (min-width: 720px) {
    #content-container {
        padding: 3em
    }
    
    #about-description {
        visibility: hidden;
    }
    .a-header {
        display: block;
    }

    #project-container-flex {
        margin-top: 1em;
    }

    #about-image {
        position: relative;
        float: right;
        top: 0px;
        display: inline;
    }

    section[name="contact"] {
        padding: 3em;
    }

}

/* desktop */
@media only screen and (min-width: 960px) {
    #content-container {
        padding: 5em;
    }

    section[name="contact"] {
        padding: 5em;
    }
    #mobile-nav{
        visibility: hidden;
    }

    #about-flexbox {
        display: flex;
        justify-content: space-between;
    }

    #side-nav {
        position: fixed;
        display: flex;
        justify-content: center;
        width: 100px;
        height: 100%;
        right: 0px;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 10px;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    
    ul#side-menu > li > a {
        text-decoration: none;
    }
}


.section-underline {
    background-color: #717BD9;
    height: 2px;
}

#prj-section-title {
    text-align: center;
}

h2#project {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#p-div {
    width: 50%;
}


h2#contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1em;
}


#c-div {
    width: 50%;
}

#contact-form-flex {
    display: flex;
    flex-direction: column;
    background-color: #4A4848;
    padding: 1em;
    margin-bottom: 70px;
}
form {
    display: flex;
    flex-direction: column;
    color: white;
}

input {
    /* Thanks to user151323 on Stackoverflow for this solution */
    background: transparent; 
    border: none;
    border-bottom: 2px solid rgba(172, 164, 164, 0.603);
    padding: 1em;
}

#message-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
input[name="message"] {
    background-color: white;
    height: 9em;
}

input[type="submit"] {
    background-color:  #717BD9;
    width: 40%;
    padding: 1em;
    margin-top: 2em;
    font-size: 1em;
    border: none;
    font-weight: bold;
}

nav#mobile-nav {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    bottom: 0;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.nav-icon-round {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 100%;
    border: 1px solid #4a484894;
    margin: 15px;
    width: 40px;
    height: 40px;
    
}

.nav-active {
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 100%;
    border: 1px solid #4a484894;
    margin: 15px;
    width: 50px;
    height: 50px;
}


.nav-dot {
    border-radius: 100%;
    background-color: #4A4848;
    width: 10px;
    height: 10px;
}

#dot-flex-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: -20px;
}

#center-left {
    margin-right: 10px;
}

.menu {
    background-color: #717BD9;
    width: 75vw;
    height: 50vh;
    position: fixed;
    right: 0px;
    top: 40vh;
}

.menu-list{
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: center;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
    color: white;
}

li {
    margin: 20%;
    font-size: 2em;
    border-bottom: 1px solid white;
}

li > a{
    text-decoration: none;
    color: inherit;
}