
body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Nanum Gothic', sans-serif;
}

#content-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}

p#about-description {
    width: auto;
    padding: 1em;
    margin: 0px;
    font-size: 5vw;
    line-height: 2em;
}

div {
    margin: 0 auto;
    display: block;
}

#about-image > img {
    display: block;
    margin: 0 auto;
}
#side-nav {
    display: none;
}

#side-menu {
    visibility: hidden;
}

.bar {
    display: none;
}


section[name="about"] {
    width: 100%;
}

section[name="contact"] {
    width:100%;
}

#projects-container-flex {
    width: 100%;
}

.section-underline {
    background-color: #717BD9;
    height: 2px;
}

#project-container-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: space-around;
    
}

.a-header {
    padding: 1em;
}

.proj-card {
    margin-top: 2em;
    margin: 1em;
}
.project-divider {
    width: 100%;
    height: 3px;
    background-color: #696969;
}

.project-header {
    display: flex;
    justify-content: space-between;
    margin: 2%;
}

.project-header > h3 {
    display: flex;
    margin: 0px;
    margin-bottom: 1em;;
}

.project-header > h3 > a {
    margin: 0px;
    margin-left: 1em;
    text-decoration: none;
    color: black;
}

.project-name > p {
    margin: 0px;
}

#prj-section-title {
    text-align: center;
}

#prj-img {
    width: 100%;
    height: 360px;
}

h2#project {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#p-div {
    width: 50%;
}


h2#contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1em;
}


#c-div {
    width: 50%;
    margin: 0px;
}

#contact-form-flex {
    display: flex;
    flex-direction: column;
    background-color: #4A4848;
    padding: 1em;
}
form {
    display: flex;
    flex-direction: column;
    color: white;
}

input {
    /* Thanks to user151323 on Stackoverflow for this solution */
    background: transparent; 
    border: none;
    border-bottom: 2px solid rgba(172, 164, 164, 0.603);
    padding: 1em;
    color: white;
    overflow-wrap: normal;
}

#message-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
input[id="message"] {
    background-color: white;
    height: 9em;
    color: black;
}

input[type="submit"] {
    background-color:  #717BD9;
    width: 40%;
    padding: 1em;
    margin-top: 2em;
    font-size: 1em;
    border: none;
    font-weight: bold;
}

nav#mobile-nav {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    bottom: 0;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.hamburger{
    background-color: #4A4848;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 100%;
    border: 1px solid #4a484894;
    margin: 15px;
    width: 50px;
    height: 50px;
}

.nav-dot {
    border-radius: 100%;
    background-color: white;
    width: 11px;
    height: 11px;
}

#dot-flex-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#center-left {
    margin-right: 10px;
}

.menu {
    background-color: #717BD9;
    width: 100%;
    height: 70vh;
    position: fixed;
    bottom: 60px;
    visibility: hidden;
    z-index: 1;
}

.active {
    background-color: #717BD9;
    visibility: visible;
}

.dot-active {
    background-color: white;
}

.menu-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: white;
}

li {
    margin: 2em;
    margin-top: 0px;
    font-size: 2em;
    border-bottom: 1px solid white;
}

li > a{
    text-decoration: none;
    color: inherit;
}

.grid0 {
    display: none;
}

.grid1 {
    display: none;
}

footer {
    display: none;
}


/*tablet responsive*/
@media only screen and (min-width: 720px) {

    #content-container {
        height: auto;
    }

    #my-name{
        margin: 0px;
    }
    #sub-heading {
        display: inline-block;
        margin-bottom: 20px;
        
    }
    #about-description {
        font-style: italic;
    }

    .a-header {
        display: block;
    }

    #about-image {
        position: relative;
        float: right;
        top: 0px;
        display: inline;
    }

    section[name="contact"] {
        padding: 3em;
        padding-top: 0em;
    }

    section[name='project'] {
        height: auto;
    }
  
    #project-container-flex {
        margin-top: 1em;
        display: grid;
        flex-direction: column;
        align-items: space-around;
    }
    
    .project-header > h3 > a {
        margin: 10px;
    }

    #prj-img {
        height: 400px;
    }

    #side-nav {
        visibility: hidden;
    }
    #side-menu {
        visibility: hidden;
    }

    .bar-bottom {
        display: none;
    }
    
}



/* desktop */
@media only screen and (min-width: 1024px) {
    #content-container {
        width: auto;
        margin-right: 100px;
        height: auto;
        
    }

    /* p#about-description {
        width: auto;
        padding: 1em;
        margin: 0px;
        font-size: 5vw;
        line-height: 2em;
    } */

    #sub-heading {
        display: block;
    }
    p#about-description {
        display: inline;
        padding-right: 5em;
        font-size: 2em;
        line-height: 4rem;
        padding: 1em;
    }

    #about-image {
        position: relative;
        top: 1px;
    }
    .bar {
        display: block;
        background-color: #5865d4;
        width: 5px;
        height: 50px;
        position: fixed;
        margin: 80px;
        margin-right: 40px;
        top: 0;
        right: 0;
        z-index: 0;
    }

    .bar-bottom {
        display: none;
    }

    section[name="contact"] {
        padding: 0px 10px 0px 0px
    }
    
    section[name="about"] {
        padding-left: 10%;
        height: auto;
    }

    section[name="project"] {
        
        height: auto;
    }
    #mobile-nav{
        display: none;
    }
    .hamburger {
        display: none;
    }
    .proj-card {
        display: none;
    }


    ul > li {
        margin: 0px auto;
        background-color: white;
    }

    #side-nav {
        position: fixed;
        display: flex;
        justify-content: center;
        width: 100px;
        height: 100%;
        right: 0px;
        visibility: visible;
        z-index: 0;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 10px;
        width: 100%;
        margin: 0px;
        padding: 0px;
        top: 40px;
        color: #696969;
        z-index: 1;
    }

    
    ul#side-menu > li > a {
        text-decoration: none;
    }

    .menu {
        display: none;
    }

    li a {
        padding:10px 20px;
        display:block;
        text-decoration:none;
        transition:all 0.3s ease-in-out;
    }

    .nav-active {
        background-color:#5865d4;
        color: #333333;
    }

    

    .section-underline {
        background-color: #717BD9;
        height: 2px;
    }
    
    #projects-container-flex {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        /* grid-template-columns: 1fr repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-auto-rows: auto; */
        /* height: auto; */

    }
    
    .project-divider {
        width: 100%;
        height: 2px;
        background-color: #4A4848;
    }
    
    .project-header {
        display: flex;
        justify-content: space-between;
        margin: 2%;
    }
    
    .project-header > h3 {
        display: flex;
        margin: 0px;
    }

    .project-header > h3 > a {
        margin: 10px;
    }

    #prj-section-title {
        text-align: center;
    }

    .project-image {
        width: 100px;
    }
    .proj-image > img {
        background-size: cover;
    }

    h2#project {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
    #p-div {
        width: 50%;
    }

    .grid0 {
        padding: 1em;
        display: grid;
        column-gap: 1em;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(2, 1fr);

    }

    .grid1 {
        padding: 1em;
        display: grid;
        column-gap: 1em;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: repeat(2, 1fr);

    }

    .testodd-t {
        width:100%;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row: 1/3;
    }

    .testodd-i {
        width: 100%;
        height: auto;
        grid-row: 1/3;
    }

    .testeven-t {
        width: 100%;
        grid-row: 1/3;
    }

    .testeven-i {
        grid-column-start: -1;
        grid-column-end: -2;
        grid-row: 1/3;
    }

    footer {
        background-color: #4A4848;
        color: white;
        font-weight: bold;
        width: 100%;
        height: 20px;
        position: relative;
        bottom: 0px;
        padding: 10px;
        padding-left: 40px;
    }

}